[*.{kt,kts}]
max_line_length=120

########################################################################################################################
# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.

# Disable import order check because Android Studio adds java/javax imports at the bottom.
disabled_rules=import-ordering, no-consecutive-blank-lines
########################################################################################################################
