<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.teko.app.ui_components">

    <application android:theme="@style/AppTheme">
        <activity
            android:name="ph.teko.app.ui_components.view.ThemeColorsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="ph.teko.app.ui_components.view.ThemeComponentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>
